.container{
  position: relative;
  z-index: 3;
  display: flex;
  height: 100vh;
}
/* Container Right */
.container__right {
  width: 65%;
}
.versus-top,
.versus-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.versus-bottom {
  margin-top: 1rem;
}
#next-duel {
  display: none;
}
.millenium2 {
  height: 100px;
}